<mat-accordion multi="false" displayMode="flat">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <i class="material-icons">meeting_room</i> Portal
            </mat-panel-title>
            <mat-panel-description>
                Just Do It
            </mat-panel-description>
        </mat-expansion-panel-header>
        <h5>儘管去做</h5>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/pages/gettingthingsdone'">蒐集 & 處理</a></p>
        <p><a class="ButtonLink" target="_blank" href="https://console.firebase.google.com/u/1/project/justdo-1165/usage">Firebase Bill</a></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <i class="material-icons">report_off</i>Other
            </mat-panel-title>
            <mat-panel-description>
                Under construction
            </mat-panel-description>
        </mat-expansion-panel-header>
        <h5>功能範例</h5>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/angularfirebase'">AngularFirebase</a></p>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/shareservice'">ShareService</a></p>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/editormd'">EditorMd</a></p>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/editortab'">EditorTab</a></p>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/imagehostingtab'">ImageHostingTab</a></p>
        <hr>
        <h5>單純版型</h5>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/template/home'">Panel & Tab</a></p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle="false" expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <i class="material-icons">self_improvement</i> Bobo
            </mat-panel-title>
            <mat-panel-description>
                UserInfoLog
            </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <p *ngFor="let UserInfoLog of _UserInfoLog">
            {{UserInfoLog.Email}} ： {{UserInfoLog.State}} <br> {{UserInfoLog.Time}}
        </p>
    </mat-expansion-panel>
</mat-accordion>
