<mat-accordion multi="false" displayMode="flat">
    <mat-expansion-panel hideToggle="false" expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Portal
            </mat-panel-title>
            <mat-panel-description>
                Getting thing Done
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>GTD ...</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Other Page
            </mat-panel-title>
            <mat-panel-description>
                Under construction
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>