<div class="AnimationBox" [ngStyle]="{'background-color':RandomColor}">
    <img #Img1 style="z-index: 4;position:absolute;width: auto;height: 250px;opacity: 0;" src="https://i.imgur.com/XJZP2q3.gif">
    <img #Img2 style="z-index: 3;position: absolute;width: auto;height: 400px;opacity: 0;" src="https://i.imgur.com/BAvQQpJ.png">
    <img #Img3 style="z-index: 2;position: absolute;width: auto;height: 400px;opacity: 0;" src="https://i.imgur.com/2VQqeJ4.png">
    <img #Img4 style="z-index: 1;position: absolute;width: auto;height: 400px;opacity: 0;" src="https://i.imgur.com/OTdiMBH.png">
    <div class="TextBox">
        打卡單 ? 簽公文 ? 一堆文件 ?
    </div>

</div>

<div class="AnimationBox" [ngStyle]="{'background-color':RandomColor}">
    <img #Img5 style="z-index: 1;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/cbSjXQJ.png">
    <img #Img6 style="z-index: 2;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/sTN9sjg.png">
    <img #Img7 style="z-index: 3;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/CXRYlJ1.png">
    <img #Img8 style="z-index: 4;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/g2A5RhN.png">
    <img #Img9 style="z-index: 5;position: absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/iUdMkvM.png">
    <img #Img10 style="z-index: 6;position: absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/l1uQZHe.png">
    <img #Img11 style="z-index: 7;position: absolute;width: auto;height: 380px;opacity: 0;" src="https://i.imgur.com/tZhFxXr.gif">
    <div class="TextBox">
        電子商務 ? 形象官網 ? etc...
    </div>

</div>

<div class="AnimationBox" [ngStyle]="{'background-color':RandomColor}">
    <img #Img12 style="z-index: 1;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/7EWlIS0.png">
    <img #Img13 style="z-index: 2;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/h0sblm9.png">
    <img #Img14 style="z-index: 3;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/SvltozY.png">
    <img #Img15 style="z-index: 4;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/toUrgmk.png">
    <img #Img16 style="z-index: 5;position: absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/Lpf0rqJ.png">
    <img #Img17 style="z-index: 6;position: absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/8zljj3K.png">
    <img #Img18 style="z-index: 8;position: absolute;width: auto;height: 380px;opacity: 0;" src="https://i.imgur.com/ZQ5VYkA.gif">
    <img #Img19 style="z-index: 7;position: absolute;width: auto;height: 380px;opacity: 0;" src="https://i.imgur.com/eJLTp58.gif">
    <div class="TextBox">
        WebPOS、App etc...
    </div>

</div>