<mat-accordion multi="false" displayMode="flat" (click)="MatAccordionOnClick($event)">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <i class="material-icons">insights</i> 常用
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h5>常用服務(壞掉了)</h5>
        <hr>
        <!-- https://stackoverflow.com/questions/43177742/ngfor-on-ng-template-outputs-nothing-angular2 -->
        <!-- https://dotblogs.com.tw/wellwind/2017/01/01/angular2-ngfor-vars -->
        <ng-container *ngFor="let item of SideNavLocalStorage;let RecordIndex = index;">
            <hr *ngIf="RecordIndex!=0">
            <p><a class="ButtonLink" [href]="item.Url">{{item.NickName}}</a></p>
        </ng-container>
        <hr>
        <h5>友站連結(施工中)</h5>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/pages/linktreemgmt'">連結管理</a></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <i class="material-icons">work_outline</i> 工具列
            </mat-panel-title>
            <!-- <mat-panel-description>
                Just Do It
            </mat-panel-description> -->
        </mat-expansion-panel-header>
        <h5>任務管理</h5>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/pages/processthenwork'">做事 & 處理</a></p>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/pages/collectthenorganize'">蒐集 & 組織</a></p>
        <hr>
        <h5>內容管理</h5>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/pages/editcontent'">新增文章</a></p>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/pages/contentmgmt'">文章管理</a></p>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'#'">GA 分析(施工中)</a></p>
        <hr>
        <h5>其他</h5>
        <hr>
        <p><a class="ButtonLink" target="_blank" href="https://console.firebase.google.com/u/1/project/justdo-1165/usage">Firebase 額度查詢</a></p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <i class="material-icons">tab_unselected</i> 範本參考
            </mat-panel-title>
            <!-- <mat-panel-description>
                Under construction
            </mat-panel-description> -->
        </mat-expansion-panel-header>
        <h5>功能範本</h5>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/angularfirebase'">AngularFirebase</a></p>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/shareservice'">ShareService</a></p>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/editormd'">EditorMd</a></p>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/editortab'">EditorTab</a></p>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/imagehostingtab'">ImageHostingTab(施工中)</a></p>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/getstarted'">GetStartedStep</a></p>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/example/datatable'">DataTable</a></p>
        <hr>
        <h5>版型範本</h5>
        <hr>
        <p><a class="ButtonLink" [routerLink]="'/dashboard/template/home'">Panel & Tab</a></p>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel hideToggle="false" expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <i class="material-icons">self_improvement</i> 使用者訊息
            </mat-panel-title>
            <mat-panel-description>
                UserInfoLog
            </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <p *ngFor="let UserInfoLog of _UserInfoLog">
            {{UserInfoLog.Email}} ： {{UserInfoLog.State}} <br> {{UserInfoLog.Time}}
        </p>
    </mat-expansion-panel> -->
</mat-accordion>