<ng-container *ngFor="let Data of OnlineUsers">
  <!-- https://stackoverflow.com/questions/37686772/angular-2-hover-event -->
  <button (mouseenter)="mouseEnter('div a') " (mouseleave)="mouseLeave('div a')" mat-icon-button
    class="example-icon header-img" aria-label="Example icon-button with share icon">
    <!-- [ngStyle]="{'color':getRandomColor()}" -->
    <div class="FackImg" [ngStyle]="{'background-color':Data.Color}"> </div>
  </button>
  <div [class]="FakeAlt">{{Data.User}}</div>
</ng-container>
