<div id="uplaod-wrap">

    <!-- 選取圖片的 input -->
    <input id="upload" type="file" accept="image/*" (change)="ImgFileChange($event)">

    <!-- 圖片標題 -->
    <input id="title" type="text" required>

    <!-- 圖片描述 -->
    <input id="des" type="text" required>

    <!-- 上傳按鈕 -->
    <button (click)="UploadImgur()" type="button">上傳</button> https://www.letswrite.tw/imgur-api-upload-load/ https://status.imgur.com/ => 檢測伺服器狀態 https://liu1165.imgur.com/all/ https://soshace.com/how-to-upload-images-to-a-cloud-storageimgur-in-an-angular-application/
</div>