<main id="FakeMatExpansionPanel">
    <section (click)="DisplayMode == 'Open' ? DisplayMode = 'Close':DisplayMode = 'Open' ">
        <span *ngIf="DisplayMode=='Open'" style="padding-right: 1em;" class="material-icons">border_color</span>
        <span *ngIf="DisplayMode!='Open'" style="padding-right: 1em;" class="material-icons">format_align_justify</span> {{Title}}
    </section>
    <main *ngIf="DisplayMode=='Open'">
        <hr>
        <section>
            <label>圖庫模式：</label>
            <select [(ngModel)]="EditorMode" (change)="EditorModeChange()">
                <option value="Imgur">Imgur</option>
                <option value="GoogleCloud">GoogleCloud</option>
                <option value="FirebaseStorage">FirebaseStorage</option>
            </select>
            <details style="display: inline;padding-left: 1em;">
                <summary>注意事項：更新日期 2021-0321</summary>
                <ul style="padding-top: 1em;">
                    <li>https://www.blog3c.net/blog/post/299331708#imgur</li>
                    <li>https://www.letswrite.tw/imgur-api-upload-load/</li>
                    <li>https://free.com.tw/imgur-pro-free-for-everyone/</li>
                    <li>https://hackmd.io/@vcJEpSOaRoy7aT_3oIqfvg/HJVtyyBSr</li>
                </ul>
            </details>
        </section>
        <main>

            <section *ngIf="EditorMode == 'Imgur'">
                <app-imgur></app-imgur>
            </section>

            <section *ngIf="EditorMode == 'GoogleCloud'">
                <p>施工中...</p>
            </section>

            <section *ngIf="EditorMode == 'FirebaseStorage'">
                <p>施工中...</p>
            </section>

        </main>
    </main>
</main>