<mat-expansion-panel *ngFor="let i of number">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h4>Task {{i}}</h4>
        </mat-panel-title>
        <mat-panel-description>
            content 待補...
        </mat-panel-description>
    </mat-expansion-panel-header>
    <hr>
    <mat-selection-list #selectlist>
        <mat-list-option *ngFor="let Version of Versions">
            {{Version}}
        </mat-list-option>
    </mat-selection-list>
    <hr>
    <p>
        Options selected: {{selectlist.selectedOptions.selected.length}}
    </p>
</mat-expansion-panel>