<mat-sidenav-container style="height:100vh !important">
    <mat-sidenav style="width: 20vw;" #sideNav opened="true" mode="side">
        <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar style="height: 8vh;">
            <button mat-button (click)="sideNav.toggle()"><i class="material-icons">format_list_bulleted</i></button>
            <span>Studio Backstage</span>
            <button mat-icon-button class="example-icon header-img" aria-label="Example icon-button with share icon">
    <i class="material-icons">face</i>
  </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
