<mat-sidenav-container style="height:100vh !important">
  <mat-sidenav style="width: 20vw" #SideNav opened="true" mode="side">
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="NowSideNavState">
    <mat-toolbar class="d-flex" style="height: 8vh;">
      <button mat-button (click)="SideNav.toggle();GetNowSideNavState()"><i
          class="p-2 material-icons">format_list_bulleted</i></button>
      <span class="p-2"><a [routerLink]="'/dashboard'" class="ButtonLink">Studio Backstage</a></span>
      <button mat-icon-button class="p-2 ml-auto example-icon header-img"
        aria-label="Example icon-button with share icon">
        <i class="material-icons">face</i>
      </button>
    </mat-toolbar>
    <div style="padding: 2em 4em;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
